footer {
  height: 40px;
  background-color: bisque;
  display: flex;
  align-items: center;
  padding: 4px;
}

div {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

p {
  font-size: 18px;
  margin: 0;
}
