mat-card {
  max-width: 375px;
  width: 99vw;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: aliceblue;
}

img {
  width: 200px;
  margin-inline: auto;
  mix-blend-mode: multiply;
}
