div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-block: 10px;
  max-width: 1200px;
  margin-inline: auto;
}

.spinner {
  min-height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}
