.cardgrid,
.tools {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;
}

.cardgrid {
  justify-content: center;
  gap: 10px;
  padding-block: 10px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.tools {
  justify-content: space-between;
}

.spinner {
  min-height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}
