.container {
  max-width: 1200px;
  padding-inline: 8px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1.3fr 1fr;
  }
}

.image {
  padding: 5px;

  img {
    width: 100%;
    mix-blend-mode: multiply;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
